@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*---------------------------PageWrapper--------------------------------*/

.PageWrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*------------------HEADER----------------------*/

.landing {
  position: relative;
  padding: 0 0 60px;
  min-height: 540px;
  display: flex;
  flex-direction: column;
}

/*--------Navbar---------*/
.logo {
  height: 50px;
  cursor: pointer;
}

.LogoHeading {
  letter-spacing: 4px;
  font-weight: 700;
  margin-right: auto;
  margin-left: 20px;
}

li,
a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 30px 9%;
}

.navbarList {
  list-style: none;
}

.navbarList li {
  display: inline-block;
  padding: 0 20px;
}

/*--------Header-Content---------*/

.hero-section {
  visibility: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content-inner {
  font-family: "Heebo", sans-serif;
  color: black;
  width: 50%;
  margin: 0 auto;
}

.hero-content-inner h1 {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: 4px;
  margin-bottom: 15px;
}

.hero-content-line {
  margin: 0;
  height: 100px;
  overflow: hidden;
}

.hero-content-inner p {
  color: rgb(105, 102, 102);
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 2rem;
}

/*------------------SECTION----------------------*/

/*--------Section1: What is Alinea---------*/

.Section1-heading {
  text-align: center;
  margin: 150px 0 30px;
  font-size: 34px;
}

.Section1-cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.Section1card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 30%;
  padding: 20px;
  margin: 0 20px 20px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0px;
  cursor: pointer;
  border-radius: 4px;
  transition: ease 0.3s;
}

.Section1card h3 {
  margin: 15px 0;
  font-weight: 400;
  font-size: 20px;
  text-transform: none;
}

.Section1card p {
  font-size: 14px;
  color: #445d6e;
}

.Section1card:hover {
  background-color: #f3f6f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*--------Section2: Featured In---------*/

.Section2 {
  margin: 150px 0;
  padding: 0 20px;
}

.outerSection2 {
  min-height: 480px;
}

.midSection2 {
  background-color: #ffffff;
  max-width: 1200px;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  padding: 60px 40px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.Section2-mainHeading {
  font-size: 35px;
  text-align: center;
  padding: 0 20px;
  margin: 0 0 10px;
}

.Section2-subHeading {
  font-size: 18px;
  margin: 0 0 50px;
  text-align: center;
}

.carousel {
  position: relative;
  overflow: hidden;
  flex: 0 0 230px;
}

.leftCarouselComp {
  height: 100px;
  width: 40px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background-image: linear-gradient(90deg, #fff 30%, hsla(0, 0%, 100%, 0));
}

.mainCarouselComp {
  position: relative;
  width: 1400px;
  height: 100px;
  margin: 0 0 20px;
  flex: 0 0 auto;
}

.rightCarouselComp {
  height: 100px;
  width: 40px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  background-image: linear-gradient(270deg, #fff 30%, hsla(0, 0%, 100%, 0));
}

.slide-track1 {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  animation-name: slide1;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: slide1;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.slide-image {
  flex: 1 1 200px;
  min-width: 0;
  margin: 20px;
}

.slide-image-img {
  user-select: none;
  pointer-events: none;
  width: 100%;
  object-fit: contain;
  height: 100px;
  vertical-align: middle;
}

.slide-track2 {
  display: flex;
  align-items: center;
  position: absolute;
  left: 100%;
  width: 100%;
  height: 100%;
  animation-name: slide2;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: slide2;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@keyframes slide1 {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes slide2 {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

/*------------------FOOTER----------------------*/
